@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.container {
  display: block;
  justify-content: center;
}

h6{
  font-family: 'Montserrat', sans-serif;
}

/* .list {
  li {
    display: inline-block;
    a {
      color: #cccccc;
      font-size: 14px;
      @include transition;
      
    }
  }
} */


